$main_color: rgb(15, 15, 15);
$sec_color: rgb(35, 45, 63);
$thrd_color: rgb(249, 148, 23);

@mixin fontface($family, $url0, $format0, $url1, $format1){
    @font-face {
        font-family: #{$family};
        src: url(#{$url0}) format(#{$format0});
        src: url(#{$url1}) format(#{$format1});;
    }
}


/*--------------------------------------------------------------------------------*/
* {
    font-family: Poppins, 'sans-serif';
    background-color: $main_color;
    display: flex;
}
.Reg_log_signin{
    border: 2px solid white;
    border-radius: 2px 2px 2px white;
    h1 {
        flex-flow: row nowrap;
        font-size: 45px;
        color: $thrd_color;
        justify-self: left;
        align-self: top;

        a {
            flex-flow: column nowrap;
            justify-content: space-around;
            align-items: center;
        }

    }
}
