$backcolor: rgb(79, 111, 82);

* {
    font-family: 'Poppins', 'sans-serif';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgb(250, 112, 154) 0%, rgb(254, 225, 64) 100%);
}

div {
    .info {
        width: 700px;
        height: 550px;
        border-radius: 12px 12px;
        text-align: center;
        align-items: center;
        background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        h1 {
            font-size: 70px;
            color: rgb(158, 27, 66);
            margin-bottom: 75px;
        }

        .images {
            vertical-align: middle;
            margin-right: 10px;
        }

        button {
            width: 300px;
            height: 45px;
            font-size: 25px;
            flex-flow: column wrap;
            align-items: center;
            border-radius: 30px;
            background-color: transparent;
            
            border: 2px solid rgba(16, 17, 17, 0.2);
            a {
                text-decoration: none;
                color: rgb(204, 36, 87);
            }
        }

        p {
            font-size: 17px;
            color: rgb(102, 16, 42);
        }

        p.terms {
            font-size: 11px;
        }
    }
}
