/*--------------------------------------------------------------------------------*/
* {
  background-color: white;
  display: flex;
}

h1 .title {
  font-size: 45px;
  color: rgb(249, 148, 23);
  justify-self: left;
  align-self: top;
}